#main{width: 1300px;margin: 0 auto;margin-top: 30px;overflow: hidden;margin-bottom: 120px;}
	#main_fresh{width: 1010px;float: left;}
		#main_fresh ul{width: 1010px;overflow: hidden;}
			#main_fresh ul li{width: 240px;height: 300px;float: left;margin: 5px;}
				#main_fresh ul li img{width: 240px;height: 240px;}
			#main_fresh ul li p:nth-child(1){width: 240px;overflow: hidden;}
				#main_fresh ul li p:nth-child(1) span:nth-child(1){float: left;color: #000000;margin: 2px;}
				#main_fresh ul li p:nth-child(1) span:nth-child(2){float: right;margin: 2px;}
			#main_fresh ul li p:nth-child(2){width: 240px;overflow: hidden;margin-top:10px ;}
				#main_fresh ul li p:nth-child(2) span{float: left;border: 1px solid #DDDDDD;padding:0 2px;text-align: center;margin: 2px;}
				#main_fresh ul li p:nth-child(2) a{float: right;border: 1px solid orange;color: orange;margin: 2px;}