#list{width: 1300px;height: 210px;margin: 0 auto;}
	.list_{border-bottom: 1px #ddd solid;overflow: hidden;margin-top:20px ;}
		.list_ p,.list_ .list_sp,.list_ ul{float: left;line-height: 25px;margin-bottom: 5px;}
		.list_ ul{overflow: hidden;width: 1120px;margin-bottom: 5px;margin-left: 2px;}
		.list_ p{color: #999;}
		.list_sp{margin-left:20px ;}
			.list_sp a{display:block;background: green;color: white;width: 45px;height: 25px;text-align: center;line-height: 25px;}
		.list_ li{line-height: 25px; margin: 0 8px;float: left;}
			.list_ li a{color: #444;}
	.list_last{background: #eee;}	

#main{width: 1300px;margin: 0 auto;margin-top: 30px;overflow: hidden;margin-bottom: 120px;}
	#main_xianguo{width: 1010px;float: left;}
		#main_xianguo ul{width: 1010px;overflow: hidden;}
			#main_xianguo ul li{width: 240px;height: 300px;float: left;margin: 5px;}
				#main_xianguo ul li img{width: 240px;height: 240px;}
			#main_xianguo ul li p:nth-child(1){width: 240px;overflow: hidden;}
				#main_xianguo ul li p:nth-child(1) span:nth-child(1){float: left;color: #000000;margin: 2px;}
				#main_xianguo ul li p:nth-child(1) span:nth-child(2){float: right;margin: 2px;}
			#main_xianguo ul li p:nth-child(2){width: 240px;overflow: hidden;margin-top:10px ;}
				#main_xianguo ul li p:nth-child(2) span{float: left;border: 1px solid #DDDDDD;padding:0 2px;text-align: center;margin: 2px;}
				#main_xianguo ul li p:nth-child(2) a{float: right;border: 1px solid orange;color: orange;margin: 2px;}
			/*#main_xianguo ul li:hover{box-shadow: 0 0 20px #ccc;transition: all linear .5s;}*/
			
    #main_liulan{border-bottom: 1px solid #DDDDDD;width: 255px;float: left;}
    	#main_liulan p{color: green;margin-bottom: 10px;}
    
      
			

